<div id="hero-frame">
 <div class="hero-tite-container">
            <h1 id="headline">Find, Create, Schedule, Share, Review Events Together</h1>
            <div class="hero-btn-container">
                {{#if logged_in}}
                <a id="hero-sign-in-btn" class="hero-btn" href="/logout">Dashboard</a>
                {{else}}
                <a id="hero-sign-in-btn" class="hero-btn" href="/login">Sign Up Today</a>
          
                {{/if}}
            </div>
          </div>
          </div>

